{% extends 'base.html' %}

{% block content %}
<style>
    .error {
        color: red;
    }

    .success {
        color: green;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="border-radius: 0;">
                <div class="card-body">
                    <p><i class="fa fa-gear" style="margin-right: 10px;"></i>Change Your Password</p>
                    <form method="post" action="{% url 'reset_password' %}" id="reset-password-form">
                        {% csrf_token %}
                
                        <div class="mb-3">
                            <label for="current_password" class="form-label">Current Password</label>
                            <input type="password" name="current_password" class="form-control" style="border-radius: 0%;" />
                        </div>

                        <div class="mb-3">
                            <label for="new_password" class="form-label">New Password</label>
                            <input type="password" name="new_password" class="form-control" style="border-radius: 0%;" />
                        </div>
                        <div class="mb-3">
                            <label for="re_enter_password" class="form-label">Re-enter Password</label>
                            <input type="password" name="re_enter_password" class="form-control" style="border-radius: 0%;" />
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary" style="border-radius: 20px;">Reset Password</button>
                        </div>
                        <div id="message-container"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const form = document.getElementById('reset-password-form');

    form.addEventListener('submit', async (e) => {
        console.log('Form submission event triggered!');
        e.preventDefault();
        const formData = new FormData(form);
        const response = await fetch('{% url "reset_password" %}', {
            method: 'POST',
            body: formData,
        });
        const data = await response.json();
        const messageContainer = document.getElementById('message-container');
        if (data.error) {
            messageContainer.innerHTML = `<p class="error">${data.error}</p>`;
        } else {
            messageContainer.innerHTML = `<p class="success">${data.success}</p>`;
        }
    });
</script>

{% endblock %}
