{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow">
                <div class="card-header">
                    <i class="fa fa-list" style="margin-right: 10px"></i><span>Manage Vehicle</span>
                    | Only the records of the last 30 days are available here
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">S.NO.</th>
                                    <th scope="col">Vehicle Number</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Area Number</th>
                                    <th scope="col">Charge</th>
                                    <th scope="col">Arrival Time</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vehicle in vehicles %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ vehicle.vehicle_no }}</td>
                                    <td>{{ vehicle.categories.vehicle_type }}</td>
                                    <td>{{ vehicle.categories.parking_Area_no }}</td>
                                    <td>{{ vehicle.categories.parking_charge }}</td>
                                    <td>{{ vehicle.arrival_time }}</td>
                                    <td>
                                        {% if vehicle.status %}
                                            <a href="{% url 'manage_deact_entry' vehicle.id %}">
                                                <b style="color:red;">
                                                    <span class="badge rounded-pill bg-danger">Leaved</span>
                                                </b>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'manage_act_entry' vehicle.id %}">
                                                <b>
                                                    <span class="badge rounded-pill bg-primary">Parked</span>
                                                </b>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <form action="{% url 'mark_as_leaved' vehicle.id %}" method="post">
                                            {% csrf_token %}
                                            {% if vehicle.status %}
                                                <button class="btn btn-light done-btn" style="border-radius: 0px;" type="submit">
                                                    Leaved
                                                </button>
                                            {% else %}
                                                <button class="btn btn-primary done-btn" style="border-radius: 0px;" type="submit">
                                                    Done
                                                </button>
                                            {% endif %}
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
